@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Manrope", sans-serif;
  }
}
@layer utilities {
  .bg-gradient {
    background: linear-gradient(to right, #4f39f6, #9514fa);
  }
}
